<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <div><a href="blocks/wizard">Create a block</a></div>
    <div><a href="blocklyExercises/wizard">Create a Blockly Exercise</a></div>
    <div><a href="pythonExercises/wizard">Create a Python Exercise</a></div>
  </body>
</html>
